<div class="page-header">
<h1>Listing projects</h1>
<ul class="actions">
<%= link_to 'New Project', new_project_path, class: "new" %>
</ul>
</div>
 <% @projects.each do |project| %>
      
 <h2><li><%= link_to project.name, project %></li></h2>
       
 <% end %>
